<!DOCTYPE html>
<html>
  <head>
    {{template "header" .}}
  </head>

  <body>
    <div class="pure-menu pure-menu-horizontal">
      <p class="pure-menu-heading">Consus</p>
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a class="pure-menu-link" href="/">/</a></li>

        {{- range .Breadcrumbs }} {{- if .IsLast }}
        <li class="pure-menu-item pure-menu-selected">{{ .Name }}</li>
        {{- else }}
        <li class="pure-menu-item">/</li>
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="{{ .URL }}"> {{ .Name }}</a>
        </li>
        {{- end }} {{- end }}
      </ul>
    </div>

    <ul class="file-list-ul">
      {{range .Files}}
      <li>
        {{if .IsDir}} 🗀 <a href="{{$.Path}}{{.Name}}/">{{.Name}}</a> {{else}}
        {{if isMediaFile .Name}} 🎜 <a href="{{$.Path}}{{.Name}}">{{.Name}}</a>
        <a href="/player/{{$.Path}}{{.Name}}">[Play]</a>
        {{else}} 🗎 <a href="{{$.Path}}{{.Name}}">{{.Name}}</a>
        {{end}} {{end}}
      </li>
      {{end}}
    </ul>
    {{template "footer" .}}
  </body>
</html>
