{{ $g := . }}
<!DOCTYPE html>
<html>

<head>
  {{template "header" .}}
</head>

<body>
  <div class="pure-menu pure-menu-horizontal navbar">
    <a class="pure-menu-heading" href="/">Consus</a>
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a class="pure-menu-link" href="/files/">/</a></li>
    </ul>
    {{ if .UserEmail }}
    <span class="nav-user">{{ .UserEmail }} &middot; <a href="/logout">Logout</a></span>
    {{ else }}
    <span class="nav-user"><a href="/login?redirect=/view/{{.Path}}">Login</a></span>
    {{ end }}
  </div>

  <div class="container">
    <div class="card">
      <div class="card-header">Audio Preview</div>
      <div class="player-section">
        <p class="file-path">{{.Path}}   <a class="pure-button pure-button-primary" href="/files/{{.Path}}">Download</a></p>  
        <audio controls>
          <source src="/files/{{.Path}}" type="{{.MimeType}}" />
          Your browser does not support the audio element.
        </audio>
      </div>
    </div>

    {{ if .CommentsEnabled }}
    {{ template "comments" $g }}
    {{ end }}
  </div>

  {{template "footer" .}}
</body>

</html>