* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* BASE */
body {
  line-height: 1.2em;
  color: #555d5d;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #34495e;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

/* LAYOUT */
.l-box {
  padding: 1em;
}

.l-box-lrg {
  padding: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.is-center {
  text-align: center;
}

.pure-menu-item:not(.pure-menu-selected) {
  text-decoration: underline;
}

/* CONTENT STYLES */
.file-list-ul {
  list-style-type: none;
}
