name: pipeline
on:
  push:
    branches: [develop, main]
permissions:
  contents: read
  pull-requests: read
  packages: write
env:
  GITHUB_REGISTRY: ghcr.io
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  go_build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: "1.23.x"
      - uses: actions/checkout@v3

      - uses: ko-build/setup-ko@v0.6
      - run: ko build -B --tags $(cat version.txt),latest,$(cat version.txt | awk -F \. {'print $1"."$2'}) .
